version: "3.7"

services:

    flask:
        build: ./flask
        container_name: flask
        restart: unless-stopped
        expose:
            - 8080

    nginx:
        build: ./nginx
        container_name: nginx
        restart: unless-stopped
        #ports:
        #    - "80:80"
        expose:
            - 80
            - 443
        environment:
            VIRTUAL_HOST: example.com
            LETSENCRYPT_HOST: example.com
            LETSENCRYPT_EMAIL: example@example.com

networks:
    default:
        external:
            name: nginx-proxy