version: "3"

services:
    app:
        image: ipcalcflask:latest
        expose:
            - 80
            - 443
        environment:
            VIRTUAL_HOST: ipcalculator.mxwebapps.de
            LETSENCRYPT_HOST: ipcalculator.mxwebapps.de
            LETSENCRYPT_EMAIL: info@mxwebapps.de
            
networks:
    default:
        external:
            name: nginx-proxy