{% extends "layout.html" %}
{% block content %}

<h1 class="block uppercase tracking-wide text-xl text-gray-700 font-bold mb-4" for="subnetsInput">IP Subnet
    Calculator (v0.1)</h1>

<!-- Error Messages -->

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}

<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
    <strong class="font-bold">Something went wrong.</strong>
    <span class="block sm:inline">
        {% for message in messages %}
        {{ message[1] }}
        {% endfor %}
    </span>

</div>

{% endif %}
{% endwith %}

<!-- END Error Messages-->

<!-- Input Form -->

<form action="" method="post">
    {{ form.csrf }}

    <h2 class="block uppercase tracking-wide text-gray-700 font-bold mb-2">Subnet(s) Input</h2>
    <p class="text-gray-600 text-sm italic">Please enter one subnet per row in CIDR notation (e.g. 192.168.1.0/28)</p>

    {{ form.subnetsInput(class="appearance-none block w-full h-64 bg-gray-200 text-gray-700 border rounded p-3 mb-4 leading-tight focus:outline-none focus:bg-gray-100") }}

    <h2 class="block uppercase tracking-wide text-gray-700 font-bold mb-2">OPTIONS</h2>

    <div class="grid grid-cols-3 gap-4 mb-4 text-gray-700">
        <div class="bg-gray-200 py-2 px-4 rounded">
            {{ form.removeLastOctet(class="leading-tight") }}
            <span class="ml-2">Remove last octet</span>
        </div>
    </div>

    <input class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit"
        value="Calculate">

</form>

<!-- END Input Form -->

<!-- Output -->

{% if ipList %}

<h2 class="block uppercase tracking-wide text-gray-700 font-bold mt-10 mb-2" for="subnetsInput">Output</h2>

<ul>
    {% for ip in ipList %}
    <li>{{ ip }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}

<!-- END Output -->